.formControl.error input,
.formControl.error textarea {
  border: 2px solid rgb(196, 75, 75);
}
.formControl.error span {
  color: rgb(196, 75, 75);
}
.formSummaryError {
  border: red 2px solid;
  color: red;
}
