.formControl.error input,
.formControl.error textarea {
  border: 2px solid rgb(196, 75, 75);
}
.formControl.error span {
  color: rgb(196, 75, 75);
}
.formSummaryError {
  border: red 2px solid;
  color: red;
}
.formInfoBtn {
  cursor: pointer;
  height: 24px;
  padding: 2px 4px 2px 4px;
  border-radius: 5px;
  font-size: 14px;
  background-color: black;
  border: 2px solid #ff007a;
  font-weight: bold;
  color: #ff007a;
}
